<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="Base tests">
            <directory suffix="Test.php" phpVersion="8.2.*">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>